<h2 id="about-h2">About</h2>
<p id="about-p">
    First, we really appreciate the fact that you want to know more about drolle. Drolle is an image hosting/sharing website and community and tools for the creatives of the internet. One of the best reasons that drove us to develope to make drolle is the lack of crediting to the creative people behind memes and GIFs. And the disprect in many internet communities whether it's in the comments or posts. So we make sure drolle is full of respect and that users can 100% enjoy their time. At first, the idea was just a tool for creating memes and rage faces but we aimed much more higher than that, we wanted to establish a platform for digital creatives, and we are almost there. Thanks for helping this community grow and for the continiuos inspiration. Thanks a lot.
</p>
<p id="about-signiture">Malek, drolle founder and  coffee addict</p>