<div id="content">

  <div id="all-tools" class="left-column fadeInLeft animated-delayed fixed-sides">
    <div id="tools">
      <div id="create-wrapper" tabindex="7">
			<p class="create" id="ragecomics">Rage comic<span id="switch" class="options"></span></p>
		<p class="create" id="memes">Memes</p>
		<p class="create" id="gifs">GIFs</p>
	  </div>
		
      <div id="texts" tabindex="4"><div class="tools " id="texts-button"><i class="material-icons text">title</i></div>
		  <div class="options"></div>
		  <div id="texts-wrapper" class="hidden-menu hidden-wrapper">
      	<button class="tools direct-tools" id="text-black"><i class="material-icons text">title</i></button>
      	<button class="tools direct-tools" id="text-#d40000"><i class="material-icons text">title</i></button>
      </div>
		</div>	  
		
      <button class="tools direct-tools" id="edit"><img src="cursor.png" height="26"></button>
      <button class="tools direct-tools" id="brush"><i class="material-icons pencil">mode_edit</i></button>
      
      <div id="shapes" tabindex="1">
      <div class="tools" id="shapes-button"><div class="line" id="replaced"></div></div>
      <div class="options"></div>
      <div id="shapes-wrapper" class="hidden-menu hidden-wrapper ">
      	<button class="tools direct-tools" id="line"><div class="line"></div></button>
      	<button class="tools direct-tools" id="circle"><i class="material-icons circle">panorama_fish_eye</i></button>
      	<button id="rectangle" class="direct-tools tools"><div class="rectangle"></div></button>
      	<button id="ellipse" class="tools direct-tools"><div class="ellipse"></div></button>
      </div>
      </div>

      
      <button id="spray" class="hidden-tools direct-tools tools"><img class="spray-can" src="images/spray-can.png"></button>
      <button id="eraser" class="hidden-tools direct-tools tools"><img class="eraser" src='eraser.png'></button>
      
      <div id="colors" class="hidden-tools" tabindex="2">
      	<div id="colors-button" class="tools"><img class="color-palette" src="images/colors.png"><div class="dot"></div></div>
		  
      	<div class="options"></div>
		<div id="colors-wrapper" class="hidden-wrapper">
		      <span class="color-border bordered" ><button class="color-box black" id="#000000"> </button></span>
		      <span class="color-border" ><button class="color-box gray" id='#767676'> </button></span>
		      <span class="color-border" ><button class="color-box blue" id='#0000FF'> </button></span>
		      <span class="color-border" ><button class="color-box red" id='#FF0000'> </button></span>
		      <span class="color-border" ><button class="color-box yellow" id='#FFFF00'> </button></span>
		      <span class="color-border" ><button class="color-box green" id='#008000'> </button></span>
		      <span class="color-border" ><button class="color-box purple" id='#800080'> </button></span>
		      <span class="color-border" ><button class="color-box orange" id='#FF7E0F'> </button></span>
		      <span class="color-border" ><button class="color-box brown" id='#6D460A'> </button></span>
		      <span class="color-border" ><button class="color-box pink" id='#FD2BD0'> </button></span>
		      <input type="hidden" id="color_value_form">
		</div>
      </div>


      <div id="sizes" class="hidden-tools" tabindex="3">
      <div class="tools" id="sizes-button"><i class="material-icons line-weight">line_weight</i></div>
      <div class="options"></div>
      <div id="sizes-wrapper" class="hidden-wrapper hidden-menu">
      	<div class="line-wrapper" id="line1"><div class="line-1"></div></div>
      	<div class="line-wrapper bordered-2" id="line2"><div class="line-2"></div></div>
      	<div class="line-wrapper" id="line3"><div class="line-3"></div></div>
      </div>
      </div>
	
		

      <div id="more-tools"></div>
    </div>
    
  </div>

<div id="ragecontainer">
			<div id="tags">
				<p id="rageface" >all</p>
				<p id="happy" >happy</p>
				<p id="neutral" >neutral</p>
				<p id="sad" >sad</p>
				<p id="angry" >angry</p>
				<p id="dumb" >dumb</p>
				<p id="happy" >happy</p>
				<p id="wow" >wow</p>
				<p id="victorious" >victorious</p>
				<p id="pleased" >pleased</p>
				<p id="laughing" >laughing</p>
				<p id="mad" >mad</p>
				<p id="angry" >angry</p>
				<p id="evil" >evil</p>
				<p id="thinking" >thinking</p>
				<p id="troll" >troll</p>
				<p id="stoned" >stoned</p>
				<p id="confused" >confused</p>
				<p id="challenged" >challenged</p>
				<p id="scared" >scared</p>
				<p id="why" >why</p>
				<p id="time" >time</p>
				<p id="memes" >memes</p>
				<p id="wigs" >wigs</p>
				<p id="panel2" >2panel</p>
				<p id="uploads-tag" >uploads</p>
			</div>
			<div id="ragefaces">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/aareyoufuckingkiddingmegirl.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/aintsomeshit.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/angry.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/angry3.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/angry4.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/angry6.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/angryderpina.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/angrythanks.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/angryunhappy.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/angryyouwin.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/annoyedmotherofgodl.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/areyoukiddingme.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/arefuckingkiddingme.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/badlol.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/badumtss.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/badumtss2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/beerguy.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/bloodytroll.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/brokenheart.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/blushing.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/cat.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/catcuteness.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/catmeh.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/catlol.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/catstare.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/cereal-guy-newspaper-guy-tear.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/cereal.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/cerealguy.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/cerealguy2.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/cerealguy.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/CerealGuyAngry.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/CerealGuySip.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/challengeaccepted.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/challengeacceptedrunk.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/challengeconsidered.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/challengedenied.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/CleverGirl.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/closeenough.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/component-female-blonde-hair-only-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/component-female-brunette-hair-only-l.png">
			<img class="rageface rageface-normal" data-original='assets/ragefaces/component-female-red-hair-only-l.png'>
			<img class="rageface rageface-normal" data-original='assets/ragefaces/cool.png'>
			<img class="rageface rageface-normal" data-original='assets/ragefaces/crafty-daily-lie-l.png'>
			<img class="rageface rageface-normal" data-original='assets/ragefaces/crying.jpg'>
			<img class="rageface rageface-normal" data-original='assets/ragefaces/cuteness.png'>
			<img class="rageface rageface-normal" data-original="assets/ragefaces/derp5.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/derpina.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/derpina2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/derpina3.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/derpina4.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/derpina5.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/derpina6.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/derpinarage.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/deskflip.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/determined-crazy-sweaty-concentrated-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/determined-feel-like-a-ninja-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/determined-feel-like-a-superhero-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/determined-i-am-determined-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/determined-not-okay-smile-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/determined-possibru-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/disgust.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/disgust2.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/disgust3.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/disgusted-oh-god-why-text-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/disgusted-oh-thats-nasty-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/disgusted-stephen-a-smith-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/dissappointed.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/epicwin.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/evilderp.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/excited.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/facepalm.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/facepalm2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fap-fap-accepted-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fap-gentleman-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fap-now-kiss-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fapfapfap.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/feelersgonnafeel.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/feellikeahero.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/feels.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/feels2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/feelsgood.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/foreveralone.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/foreveralone2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/foreveralone3.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/foreveralonehappy.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/friends.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/frog.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuck-that-bitch-fuck-that-shit-female-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuck-that-bitch-pirate-yao-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuck-that-bitch-scared-yao-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuck-yeah-duck-yeah-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuck-yeah-meow-yeah-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuckthatshit.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuckyeah.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuckyeahblonde.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuckyou.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/fuuuuu.png">
			<img class="rageface rageface-normal" data-original='assets/ragefaces/gay.png'>
			<img class="rageface rageface-normal" data-original="assets/ragefaces/gentlemen.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/grandma.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/grandma2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/grumpycat.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/grumpycatgood.jpeg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-boufhama-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/gtfo.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-dolan-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-epic-win-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-everything-went-better-than-expected-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-female-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-grin-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-happy-poker-face-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-pfftch-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-little-kid-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-thumbs-up-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-winter-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy-yes-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy3.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy4.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy6.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happy7.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/happyderp.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/hatersgonnahate.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/hatersGonnaHateWhistling.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/high.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/hitler.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/ifeelsyabra.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/iknowthatfeel.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/iknowthatfeelbro.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/ilied.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/impossibru.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/imwaatchingyou.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/iseewhatyoudidthere.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/itsatrap.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/itssomething.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/jackiechan.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/jesus2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/jesus3.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/laugh.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/laughcry.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/laughing-yyyeeeeeaaaaa-sscciiieeenncceee-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/likeasir.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/likeasir2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/likeasirgirl.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/lol.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/longneck.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/longneck2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/me-gusta-derp-gusta-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/me-gusta-ich-mag-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/me-gusta-me-boosta-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/me-gusta-me-culpa-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/me-gusta-muy-elegante-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/me-gusta-no-me-gusta-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/me-gusta-troll-gusta-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/megarage.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/megusta.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/megustacreepy.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/megustacreepy2.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/melvin.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/melvinfuckyeah.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/mexicantroll.jpg">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/ming.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/mingalone.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/misc-actually-pretty-badass-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/misc-brad-pitt-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/misc-creepy-glasses-guy-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/misc-epic-fail-guy-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/misc-female-seriously-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/misc-genius-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/misc-gentlemen-top-hat-l.png">
			<img class="rageface rageface-normal" data-original="assets/ragefaces/allthethings.png">
			<img class="rageface panel2" data-original="assets/ragefaces/megawtf.png">
			<img class="rageface panel2" data-original="assets/ragefaces/ilied.png">
			<img class="rageface panel2" data-original="assets/ragefaces/iseewhatyoudidtherestoned.jpeg">
			<img class="rageface panel2" data-original="assets/ragefaces/darkstare.png">
			<img class="rageface panel2" data-original="assets/ragefaces/angrytruestory.png">
			<img class="rageface panel2" data-original="assets/ragefaces/foreveralonescreen.png">
			<img class="rageface panel2" data-original="assets/ragefaces/awye.jpg">
			<img class="rageface panel2" data-original="assets/ragefaces/awye2.png">
			<img class="rageface panel2" data-original="assets/ragefaces/gasp2.png">
		 	<img class="rageface panel2" data-original="assets/ragefaces/gasphand.jpg">
			<h4>My images</h4>
			<div id="uploads"></div>
			<div id="uploads-area">
				</hr>
				<!--<button class="button" href="#popup1" id="upload-button">Upload</button>-->
				<a ><button id="upload-button">Upload</button></a>
			</div>	
			</div>
		</div>
	

		
  <div id="sketch-wrapper" class="middle-column">
	  
	<div id="sketch" height="300" width="750">
		<div id="placeholder-wrapper">
		<div id="placeholder-1" class="cancel placeholder"></div>
		</div>
		
		<p class="splitter" id="splitter-1">split</p>

		<canvas id="paint" height="300" width="750"></canvas>

	</div>

	<div id="add-remove">
		<span id="remove-panel-button">  
      <p id="remove-panel">remove panel</p>
  	  <span>-</span>
		</span>
		<p id="add-panel">add panel</p>
		<span id="border-bottom"></span>
	</div>

</div>
	
	
	

<div class="overlay"></div>
<div id="upload-button-popup" class="popup">
	<h2>Upload Image</h2>
	<span class="close">&times;</span>
	<div class="content">
		<div class="file-upload">
			<button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">browse</button>
			<p>or just drop it here</p>

			<div class="image-upload-wrap">
				<input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
				<div class="drag-text">
					<h3>Drop images here</h3>
				</div>
			</div>
			<div class="file-upload-content">
				<img class="file-upload-image" src="#" alt="your image" />
				<div class="image-title-wrap">
					<button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div id="clear-button-popup" class="popup">
	<h2>Are you sure</h2>
	<span class="close">&times;</span>
	<div class="content">
		<div id="clear-window">
			<p>Are you sure you want to clear this comic?</p>
			<div id="yes-no-wrapper">
			<button id="no">No</button>
			<button id="clear">Yes</button>
			</div>	
		</div>
	</div>
</div>
	
	
	
  <div id="right-column" class="fixed-sides">
    <div id="functions">
      <!--<canvas id="brush_size" width="50" height="50"></canvas>Brush Size <input type="range" id="width_range" value="3"> Opacity <input type="range" id="opacity_range" value="100">-->
      <div id='addRageFaces' class="right-button animated-delayed rotateIn"><i class="material-icons" id="add-button">add</i></div>
		
    </div>
	  <div id="more-tools-wrapper">
		  <a id="id_download"><button class="tools" ><span class="eraser"></span></button></a>
		  <button id="clear-button" class="tools"><span class="eraser"></span></button>
		<button id="undo" class="tools"><i class="material-icons">undo</i></button>
      <button id="redo" class="tools"><i class="material-icons">redo</i></button>
	</div>
  </div>
</div>
