<h2 id="about-h2">Terms and Privacy</h2>
<p id="about-p">
    Before listing our terms we ought to thank every user that help drolle grow and inspire.
</p>
<p id="about-p">
    User information. Drolle's only manetory personal info is your email which we will share with other comanies or spam you with.
</p>
<p id="about-p">
    Ads. Another important aspect of a free service is advertisement. Rightnow, we offer free PRO account signups for our early users as a thank you gift for their trust in a beta site. People who weren't as lucky have to subscribe for PRO account to remove ads and to unlock PRO features. Notice that ads and sponsored posts are worked hard on to be less of distraction to our community and to be more relevant and interesing.
</p>
<p id="about-p">
    Copyright. Drolle is not accountable for any image or GIF shared on this platform that violates copyright laws. Although we try to keep the website free from any violations it's the poster responsibility.
</p>
<p id="about-p">
    Rules. Drolle prohibits posting any kind of hate/nudity/violance/disturbing/misleading material and any post or comment that violates this rule is subject to get the poster's account suspended.
</p>
<p id="about-p">
    Admins. Unlike other image sharing site, there are no drolle admins that can manipulate voting or anything else. Although drolle community and patrols can delete posts if they saw any violation of our rules, any fake activityis strongly prohibited by any individual.
</p>