<div id="all-tools" class="left-column fadeInLeft animated-delayed fixed-sides">
      <div id="create-wrapper" tabindex="7">
		<div class="create" id="memes">Memes<span id="switch" class="options"></span></div>
		<div class="create" id="index">Rage comic</div>
		<div class="create" id="gifs">GIFs</div>
		  <!--<button id="unsortable">Unsortable</button>-->
  </div>