
<nav id="navbar-2"></nav>
<nav id="navbar">
    <a href="/recent"><div id="logo-wrapper"><img id="logo" src="http://beta.drolle.co/assets/si.png"></div></a>
    <div id="menu-button-wrapper"><i class="material-icons" id="menu-button">menu</i></div>
    <div id="nav-icons-wrapper">
        <div id="notification-icon"><i class="material-icons" id="notification-icon-bell">notifications_none</i><span id="notif-number"></span></div>
        <a href="/user/<%= current_user.username %>"><p id="username"><%= current_user.username %></p></a>
        <!--<form id="demo-2">
    	    <input id="search-icon" type="search" placeholder="Search">
        </form>-->
        <a href="/user/<%= current_user.username %>">
            <% if current_user.image.url != "missing.jpg" %>
                <span id="profile-photo-small" style="background-image: url(<%= current_user.image.url(:medium) %>)"></span>
            <% else %>    
                <span id="profile-photo-small" style="background-image: url('/assets/missing.jpg')"></span>
            <% end %>
        </a>
        
    </div>
    
</nav>