<div id="logo-wrapper-wrapper">
    <i class="material-icons left" id="left-arrow">arrow_back</i>
    <a href="/"><div id="logo-wrapper"><span id="logo"></span></div></a>
</div>
<nav id="navbar-2"></nav>
<nav id="navbar">
    <span id="alpha">ALPHA</span>
    <div id="logo-wrapper"><a href="/"><span id="logo"></span></a></div>
    <div id="nav-icons-wrapper">
        <div id="menu-button-wrapper"><i class="material-icons" id="menu-button">menu</i></div>
        <div id="notification-icon"><i class="material-icons" id="notification-icon-bell">notifications_none</i><span id="notif-number"></span></div>
    <a href="/make"><i id="add-icon" class="material-icons">add</i></a>
    <a href="/user/<%= current_user.username %>"><p id="username"><%= current_user.username %></p></a>
    <% if controller.action_name != 'profile' %>
    <form id="demo-2">
	    <input id="search-icon" type="search" placeholder="Search">
    </form>
    <% end %>
    <a href="/user/<%= current_user.username %>">
        <% if current_user.image.url != "missing.jpg" %>
            <span id="profile-photo-small" style="background-image: url(<%= current_user.image.url(:medium) %>)"></span>
        <% else %>    
            <span id="profile-photo-small" style="background-image: url('/assets/missing.jpg')"></span>
        <% end %>
    </a>
    </div>
    
    <%# link_to('Log Out', destroy_user_session_path, :method => :delete) %>
</nav>