
<nav id="navbar">
	<div onClick="window.location.href = '/' " class="link2">

    	<div id="logo-wrapper">
    	</div>
    	<div id="new-logo">drolle<a href="/trends" target="_blank" class="nav-link not-link">Trends</a><a href="/new-posts" target="_blank" class="nav-link not-link">New Posts</a></div>
        </div>
</div>
    <!--<a href="/users/sign_in" class="login">--><div id="notice-to-sign"><i class="material-icons">vpn_key</i></div><!--</a>-->
    <!--<a href="/signup">--><button id="sign-up">Sign Up</button><!--</a>-->

        <div id="menu-button-wrapper"><i class="material-icons" id="menu-button">menu</i></div>
                    <a href="/make"><i id="add-icon" class="material-icons">add</i></a>
<button id="log-in">Log in</button><div id="nav-icons-wrapper">
    </div>

</nav>