<a href="/recent"><div id="logo-wrapper"><img id="logo" src="http://beta.drolle.co/assets/si.png" alt="drolle logo"></div></a>
<nav id="navbar-2"></nav>
<nav id="navbar">
    <!--<a href="/users/sign_in" class="login">--><div id="notice-to-sign"><i class="material-icons">priority_high</i></div><!--</a>-->
    <!--<a href="/signup">--><button id="sign-up">Sign Up</button><!--</a>-->
    <button id="log-in">Log in</button>
    <%# link_to('<p id="log-in">Log In</p>'.html_safe, new_user_session_path) %>
    <form id="demo-2">
	    <input type="search" placeholder="Search">
    </form>
        <div id="notice-to-sign-message">You are not signed in</div>
    
</nav>