<nav id="navbar">
    <span id="alpha">ALPHA</span>
    <a href="/">
    	<div id="logo-wrapper"><svg id="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 45.4 45.7" style="enable-background:new 0 0 45.4 45.7;" xml:space="preserve">
<style type="text/css">
	.st0{display:none;}
	.st1{display:inline;}
	.st2{fill:#ff3000;}
	.st3{fill:#ff3000;}
</style>
<g id="XMLID_97_" class="st0">

		<image style="display:inline;overflow:visible;opacity:0.45;" width="340" height="339" id="XMLID_4_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVwAAAFcCAYAAACEFgYsAAAACXBIWXMAAFmoAABZqAGs1AqdAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAALfxJREFUeNrsnYt24siybVNCgO2q
7up9//8bT3dX+81DZ9e46HQ4iMhMCUnoMdcYGlAUtgWIqaWVkZFlQAghNIpK3gKEEAK4CCEEcBFC
CAFchBACuAghBHARQgiNooq3AE1AxcC/v+YtRgAXAdPhoVtn/m6gjAAumj1Q7w1cXDICuGhRcC1a
/EwR+Zm+oVtHHqtb/p4CCCOAi8YGbOqxwvi3B9tiJHdbJ26t+/WNfwshgItaATYG18IBZ87/p54z
FGT1/ZznpECdcsIAGAFclAXYGEg9eJaR5xXqefcA7lkB19qCel5wnlO3jCiAL8BFK4ZsCrDy32UE
mNb9Lo8NBVwJ2vMNj+UAOzeSAL4AF60Msh5gLbiW6n7uVkR+Vv+fdtO3wFY7VXkrt9j/eVvt/LwF
5BwAA1+AixYMWS8KKBJg3Yhb7768jf0OC7xDA1dupwhQT8btyfnZUwbEPScMfAEuWjhkCweyEoiF
AmklbpvH5X3571LdLzOBXPQULViZaw5Q5f8dFWiP4jlH8bjevN95TgAY+AJctEDIeoAtFTw1RKvE
tlH3NwLSuU646AG63gBXjnO1gHo0bpv7B+MxfRsDMfAFuGjhkNWg04C0tq26v1WPbx34anh70B0T
uDHYnhzQSsAexXZwbo8CxocIiL1sGPgCXDRh0MYgqy/rLddqATR3s34+F7gSunKfYyeUkAkhCV7p
JnV0kAtcC6i/bj8v91Pb0QD2ScUXzX60cb6AF+Cikd1sGXGynoPV4NwZ93fqvvUzKeC2yW/HAG5O
jpsC7iEC3E+xHYz7HoQ1fL3Y4YzrBbjofm42lsVWEee6a7l50N0GO8/dhLyKhTL4EyluiRSsWCFV
9mW5XQ+8BwO0Gri/tg/nvoawdsBW9nu+vB+W65Uz3AAvwEU9gtYqs9KDVtuIY/217cXtXj2m73uw
tfLe0gBuEeK1t33BNge6sbrbOhI16IEx7VI1cD+MW73J52oHfDT+poavfB04XoCLOoI2FRuUGTFB
DK7WpuHrwdaKDirD0RYKuNYss5Bwt7c6XM/lhhCfRaZdr5fvHhzHqx2u3t7F7acD4eb3xLJf62QB
eAEuaglaPdvLc7MN+CQYPbg+qFsPuhq225A3KGbV8RaRyCDWvKZP4MrHYn0RPPg2g1ixuOFgxA0x
6L4bt+8RB2wBWNcGn0TcAHgBLuoIWukadVygXeyDcSs3/X87I06QjraB7CbEB8O8uKBtZ7AuvXZz
gOINpqUg7DlfD74SwCnwvhvAfY9AWMYT8nfLvw14AS66EbRWZLBTLrYB6qNzX0M3FR1Yg2BWlYHu
sRBzsW0hO5RS8I25Xyv7jcFXVzJIaL4b8NXbmwFh7YCl89WTLQAvwAW0htvToNX5rI4MpEt9FLd6
s9xtzM1KR2vNFLMAWwa/AU4I+e0f7wHc1L/riAO2GtjEysp0NcOHAV8LuG8Kvm/qOdr5ysgB8AJc
XK249UArL+d3RhZrwfUpAdu9k8/mlHPlZrFhgJhgqM+hdvajznDDGsK6YiDmeo/huj7Xy3ffItur
EUPI3DcXvJSTAdzFg1ZXG5TKYcYiAw3YJwO2j8oJ69jAg6zua5CCrBcT3BOoXa42PCAXLaIIq9bX
g+/Bga/Oed8M8L6K7U3cNs+7FbxAF+AuDrRFsCcnbJWblXGBBuyTA9sHJzrYGpGBLuNKTUSYK1z7
AHIRcYTWbQPcKlwPuO0M+OpBNp3vvinAvij4viowW2Vm1uCaV8cLeAHuLGErc1rpaj1HaznZZvum
IPtkgHbvgDZWxtVmyZuCz/bLfQ/AZYhnvhq+Xtar891X5XRfFHxfHPB+hOtJFQ30a8ALcJfiauXl
uSytioFWA/abgm0MtNZAmAdZrwftGhzsWACuxQk3BV8r630Ujvf9chxItyuB+3I5Nizwvkccr3S7
xAwAd9bxgcxp9UywBwO03wzQyse6ONq2kAWww0QROfDVA20NGD8un7t2u98UcF8M8L5mgLf5e0Wg
mgHgzjw+kPmpVW3QwPS7Adlma4CcAq0u5wKy84JvFb4OtO0uINyJqOHxAs7m9knBV4P3xQHve/g6
kaKIxAy4XYA7iS+U52ol/GQ51oMRG3x3bmWMIMu85O/zJih4mSyQnT58y/B1anFzQj1eTrKf4d9B
1XdxPL2KY+oXYJ9VDPWs4oZd+FpStlGO14oZcLsA9+6u1qo+kPGBLO16UnHBbxfAfjcc7lO4rjyI
gVZuIfTbgQuNB18J3I24baC7FY5Xlw1K8D4p8D5e/v1wud0L11sp6MpSsgK3C3CnBFvd76BxtTo+
kDBtAGsBV2e1XkYbWxMshNsXY0T3hW8hAFwK8FbGlZMF3icF3sbl6jGA5nfIjLcMXwfwPLcLdAHu
4KANTnwgB8T26uCXoP3NgG3K1eomMn2vBYamCd9awLdxvs1V1Cn4FS8WfHW9tjyhv6irsibf/Qxf
s12vdhfwAtzBIwRrhpg1IGaB9rfwNbPVrlbHB1ZTb0C7DvjqVR7kgOwp+KWGVsc4q9+G7on8evl9
7+KYO0TcLhEDwB0MtrovrTzIZU5rRQeWs31SrlbW03rlXQHQrhq8wTgWNXitmYuxLnIavLr/8cZw
u4GIAeD2fbBLoOms1qqnfQpfM9nf1Kaz2icnPvDqaMlnAa+ErwdeaQa8Jkgx6OoJNO/i7xzU8UfE
AHAHiRB0BYKV00rQ/m7A1spqtauITb8NgJZjU8DWA6+1/NLOAe/ecbl7xwBYbpeIAeD2HiHoJjMy
p9Vu9ncB3JSr3Yavg2JWjwNAi3LBG4u/9GxHDV5r2SW9xJLldokYAO7NEYK1hpjs5NW4Wg3Z35XD
la5Wl+No0G4Cg2HoNvCG4LcAtcYeLOereyhbJYle1EXEAHA7RQiyCkFXIMj4oIHsDwXcxt3KCgTt
GnSZF6BFt4JXThfWk3L0dHMdN2yNSMFaHURXzTQRw1E5XiIGgJuErXQEutxLDor9pkD7Q8FWRghy
MGIb4vW0gBbdejyHcF3He1ZXbbqscesAN+Z0rYHdo4gXyHUBrgtbndda/Q++qfhAwvaHALGOEHbB
niWmc1pAi4YCbyzfrcL1Gnpbx+GmgFsEcl2AaxyQsbxWu9onw9X+UDHC7+G6CkGXeum1wnC1aEzw
hnDdp9kaq6gMyO6UE061AT2Iv6dz3dVCt1rpQejltc3B9OBECNLR/hGuqxG8ci89S6wEtGjkY97K
dy3o6qoGHTmkVhLRneqOON31AteCrZ7I0FQhfFMRwg9jswbHZOYVGxQDtOjeMUMIXwfV9Hp73tp7
lbHFenwEoLs+4Hqw1aswyCqE3w3YSmcr62tlXhurQMDVoim4XdkQp7nsL8J1q8+NA9htsFeA9ibr
NH/7tGboVis6yKxKBD1r7Cniav8I15UIciKDrEKwLrEALZq62y0M6HrArSLA9cDbxAurhW61koNL
w1YPjuk+CBqyGraNs20iBNlwZhOuV10Atmgubjc43xdrgM26nzuBZ5XQrVZwQFkHjxwck7BtooI/
xCZdruzy9ZgZIQBaNCe3q783epq5BdlY/49YD5DVQbda+IHkwVYPjn0PX6sPfm3/CdcDZN9UhLAj
QkALc7ue07XyXe16Y3GCp1VBt1rwwZML29+Uq/2Pcre/O7DVeS0RAlqS27XAmwPc2CokxdqhWy30
oEnBVrZT1K5WAteqRNB5LRECWip4C+c75cG3CN2XfVoFdKsFHii5sG2c7X8UbGWUoGG7M2BLhIDW
EjGERNRQhNuWf1o8dKuFHSBtYPvDAK2EbRMjPCrYWpdPwBYtGbraVLTZ2mrR0K0WdGDcAtv/1xK2
5LVobfFCCNe5rvf9u/U7sVjoVgs5IPqArZxBJmErpzOS16K1g7dQ/PAge+t3Y5HQrRZwEPQFW136
pcu+5OAArhatOWLQ8UIY6DuxOOhWM//wY70RdOlXG9hazpbBMYTswbRqwO/FoqBbzfhDD8Hv+vVw
I2zl7DEGxxCyoStNSB8sqQ2o/rq/mC5j1Uw/7NDC2f4ObBGaBXStxSebxxaxXM+cHa7MbaueYgRg
i9B9oFsbzlZD9az+5uygW83wA7YaaWjYyt4IwBah6UM35m5r5W5nGytUM/tgY7CVS+Jo2Or+CMAW
oWlBt3a2YPz7HAE1wO0Ztjq3leVf350oQfZGALYITQe6FmTP6rY2IoZZQreayQcpoasbiOuVGn4I
d/sHsEVostD1YNuA9iT+fTYcr4wZZgHduTncMtirNXg9bS3YyoUegS1C94OuBVsJWQu4+vmzGjyr
ZvDheTPJPNj+wNkiNGno1gl328DWAq4GbzGnaKGa+IeWM0imowTdPFy2WJTTdYEtQveBbu3AV8NW
bxZ4Q5hRnltN+MOyooRc2Mrm4d8NZ0t7RYSm5XRTsD0lIoYQZpDnzsHhWhUJjxmwbVbX1S0WcbYI
3Re6GwOUGrhHtTWPyWx3dnluNdEPKGcmmTdIJmFLZovQ9KBbG0737LhcC7ye0518nltN8IPxcltZ
AvZdudsfEdjuDdjS9QuhacQLsQGzo7N5uW4IE89zq4l9ILEo4cGJEiRsfzec7RbYIjQp6JaKQfXl
u6qh2wD2oG4leGeV507V4ZaJKOG3CGy/CWerB8mIERCaFnRrx+l6wD2If2unO/k8t5rQhxCrt/Wq
En4YzlYOknlLmSOEphUvpIBrbTGnO8k8t5rImx+LEqz+tnqTsN2HePkXQmg633urcqE2oNuA9/Oy
6ZhButzzVKOFqTncVMvFBrg/jBiBigSE5gne0okWNHA/DejG4oXJRQvVBN7sNlGCdrZW+Re1tgjN
N1qQg2i6PKyB7IeCr4buZKOF6s5vdpsoQbtbC7a7QEUCQnOErjWIpoF7UA7XcrrHKUcLU3G4Ob0S
Ys52b8AWZ4vQPJ1uA92dihYkcD8M6B4dpzuZaKG64xscayiuYSsdroQtFQkILQe6IVwvvy6hq4H7
4YB3stHCFBxuTs2tBducQTKE0PzAK/Pcc/g3z9WVCh/G/UlHC9Wd3lDP3TZRgpXden1tmUmG0LKi
BS/PfRBAlZDVbney0UJ1hzdUQlf3SvDKwHSrxabedhuYSYbQEqErzVitXO5ROVsN3IMAr54Ucddl
1u/pcBs3qqOEJyNO0LBN9bZFCC0jWqjD12W1vGjhPVxnutZMtGItkUKbMjDpbhvgMrkBoXW63CZa
OItoIeZydZ6ro4W7DaDdI1KI9bl9cpytLgEjSkBondCVLvdJOVy5Seg24NX9FhbrcGMzyrS7/ZYZ
JVCVgNB6o4XjhQmHTOjqfgv1PVxudac3z3O33wxnm6pKwN0itB6XK6Ero4UYcGV9ruy5G8LIA2jV
SG9abJKDzm6/EyUghBzobpxoQQL37bJJ8OqZaGW4Q5nY2INmKXfrwdaqSmAmGULrAm/DEDkh4hj+
nZn6oYD7ZjhdHS2MWiZWjfQmFc4ZSme3GrZeblvgbhFadbRQXcDZRAtNF7HvBnAldOUstNHLxMYc
NPPcrRUnfEtECThchNYH3Uayhr9xuQfhct8c6HoDaKOViVUDv0G52a3eUlUJCCGiBRktNDzRLvdV
xAy6amH0MrGxBs0sd/vgxAm6MY1VlYC7RYhooRZMkV0G3wV0X4Od5+oJEaO43GrAN8Zzt9ZgmXS2
Vo9bBsoQQtrE1Ua0IKGrgatd7uHCltFcbjnSG5Pjbq0ogTIwhJBmiuSX1UvbqnySfNkL82eZucH4
Ug30htzqbne4W4RQJnQ3kWihcbnfldv9cFzuoBUL5cBvSo67lbD1OoFRBoYQ8himy00tl/vNcbmj
cqZv4HZ1t98S7pZ+CQghjzW61asFXa8CyooVBmNNOeCb0cXdegNlAXeLEIqAV7tcDd0n40o65XIn
Ddwi8gZod/sUOePgbhFCbZkjXa6OFqTT1cD1DN4g4B0qUvCWPdcvPKcMDHeLEMrlTtnR5W4c7swK
uNvMOAF3ixAawuU27IkBV2e5g5Wglj2+6JwmNU+Gw411A8PdIoS6ulw5gKadbhM1xGpyJx0pxLLb
fcLWW5MccLcIoa4ud2O43EfBHTlQP9rgWdnTi9Uv2HK3j467tSw97hYh1Jfp87JcneN6Lrc3Bg3h
cL31yrS7fQjxKbyAFiHUt8t9UJHCo2H6Bhs86zvDjdXePqoXmtOgBugihLrwKOZyPRYNbvzKHl5Y
YZxVrOqElLul9SJCqC8epSZDSNiOFiv07XA3wQ+rvRfoDZQBXYRQ3y7XY9Io7WD7HDSLVSc8OC/O
ay6OEEJ9XXVbdbkxJm2Ggm7Z0wvz7PveeGG4W4TQWOCNcelBMcmrmOotVhjC4Vr5ba67RQihvoEb
c7ly0xVTmzCxsrAiIyuxziSxVXgBL0LoVi615dM+jBB1lje8oCKky8Es2MaWzkEIob7ha0333bfk
Uy+GsC+Huwnx0cDYi2GwDCE0ZKzQ1uXqWKE3U9jHoFlfZ48AdBFCA8YKesHJXbBz3MHmB5QdX0jO
mWMvQMtgGUJoKrGCLl2V7nbQWKEvh5tj1VMvAiGE7hEr7FteiY8eKeS8gH24LrewmvwSJyCEphAr
5Lrc0YDrxQlWkwh5tpCrORAnIISmEivsIgbRGji76ap8DIdLnIAQmnKssJuqw/XsuQdc7W6JExBC
U4kVKsWoB4NdvZawli13XO/8xjlbpM4UxAkIoXvGCjGjKOtxZTMbi4F3cbgx2MrsljgBITTVWGFn
GMVeY4VbgbsJ1wG03lIzy4AuQuiescLWgK3Hr1GB61UobNVO651lvTKE0JScbumYxTYTIAYDbpFw
uJ67pXcCQmiKsPUiUc809lIe1mXQzLLkHnSrEB8sA7oIoXvGCjF+bUPPjWxuiRQ2CYebOjMghNC9
4FuG9OCZhu7NV+htHW5sZ/VWheuZZSWfNUJoQtFCF+PYGbpljzu6DXmjezhchNAUooUusYLFsmye
lZk7mGrJGHO35LcIoanBNjUWJeGbYtmgDrd0dtQ6I1i5B6BFCE0pViidq/VthsMdDLjegFkVcbib
QH6LEJoPcD2ebUIPBQBly51rs4PWYBkOFyE0BdBq6Ho8q0KPvWBuiRT0LLMqXGe33uwyoIsQmgJ4
c0ykZloROg6clS12KhYpVBlxAu4WITQ16HpjUlVIl7gOnuHKP5baMabyIoTm4nStUtfKiBTukuF2
2TGEEJoaaEPE5XpTe0eZ+GDlHZvMOCEAXoTQhGCbw7XYuFQnl9t24sMtO2W9WIQQmkqkIB3uxmHb
XR2utUPktwihOTndFNs24boOt9MU3zLT2XoOd+PsHCs7IITm6HBjfJvEoFnsDIDDRQjNCboNv7yr
97uWhVmxQhmoUEAIzTdW2AQ7zy3Djd0Pu3QL02cBndtuiBMQQjOFbWHEClVfV+9tIwUr5/AaOwBd
hNDUYRu7it+E9IBZCANM7bWgG9uZMvKCEEJoavC1+FY6bLuLwy2NHbqpKBghhO4cK1jQjbFt8CqF
tjuEs0UIzRW6ZYa7zZ7YVWbkG0Uk4/B2AmeLEJpzrFC05FwvEx9SDlfvROcwGSGEJgTe0rl6v8lc
5gyatYEukx0QQnN3uDHOycdbq2sdbunYbiIFhNDSHG4qVugVuCn4xpabALoIoTlAts1VfKflddoA
t+2OAFuE0Fxhmyp/7dx2tmuk4GUb9L9FCM0NtjHebfqMFboOmqVgS7SAEJqz2425W2+uwU1lYTmg
lTuUyjSALkJoqqDNiRY2xhV+bw63MIifS34AixCaK3jbVikMvqZZTjFwCJSHIYTmC92c+QbWFXzR
F3DbTHoAtAihOccKVnyQcreteynQRwEhhMO9BqxnKLNj1JzmNbGdoI8CQmjJ8PWu8jsxrsz8YxZ4
KQNDCK0JtuFWM9l2ppl3H9gihNYSN3RWeeMfz3kMIYTQjcBFCCE0EnDrzMcQQgi1AG4tYGrd148h
hNDSVN/KtzLDwdbGH/y1nQ3gAl2E0FLgGgy23QTeMjMuqB3YntV9zwkjhNASoHsT48oEbPX9c2Sr
nbMBQgjNLTawruTPEcebdWVfdtiBNuBFCKE5gTa0uJKvnTSgN+BKsJ4yYAt4EUJzd7gxc5lKBrKB
q8F5dqB7cnYC0CKE5grbcxggQi172olTxg4AYITQXOKE2uGcFTP0Btw6E7yUiSGElgDe0OJKvnV8
2mXQ7JwJXZwtQmgOgI3x7hR6LBBoO9MsFS3gahFCc3W1Mb5pl9vJWJYddi5nthnQRQjNGbo5xnLw
QbPaiRGY/IAQWgp821YpZKvroFnu5AeEEJoTaFOck4+3Vk7zmlzY0k8BIbREh5ua5HVzpEA/BYTQ
Wh3uObTLcLPN5a1VCifnPoNnCKE5wTaEbjPNYgb1ZuCmyiVi0EUIoTnBNsdQ9j5oVjvQPRmb19gh
i/4IITSBOOGsTOQp9FQccIvDbXbkaEC3DkyEQAhN39nqx86ZprJTcUDXOtzmDx8VdHWDB2CLEJpL
nHBWjLNM5SgO16K/hK3cPOgihNAcoCvNo+ScxbbBeynoOOEY0lku0EUITRm61tX7UTHuGNLjVJ2B
G5t1cTIs91FFC8QKCKE5wTbFt5PjcAeLFDR0vbPACYeLEJphnHB2TGRs4Cwbvl1XfDg5wD2GntqY
IYTQHRyuzm1zrt5Hc7jNTh0um7VjZ/XzCCE0BWeb4lqumRx10EyC9hDJOhBCaGrONoTr/PZoGMnU
lfsgDleXhR0dh0uOixCaW6TQxUgOMrXXWufnlIAu5WEIobnA9pzBtEHLwlIut4GutVOpWAHwIoSm
BNtYnKCZFltWrBfg1omzwUFt1tkg4HIRQhMAbSpOsFyuleG2VpcqBStS8IBrVSsghNAU3K03LpXD
s8EnPoSEBf+8bJ7LpT8uQmhq4PWKACTPYpFC7w7Xm+J7cs4GqWoFy9ojhNA9HW6MZ3eJFGKZx0Gd
FeSZ4abuOggh1CNoLXd7irjb1NX6IBMf5M7mnhW8UgqEELq3u/Wy28+Icbx5MldXh1sbDrfNjuJw
EUJTgK41DvXpuNyTihNG6aWQY8WbjRwXITSlOCGW3ebCdvAMt06cHQ7O2cHKcpl1hhC6p7PNdbc5
V+qDl4VZA2dy0Owj+CUVwBYhdG/oxtzth8OwXvhVdtzhOjNSyHG4wBchdM84QcNWQtfiV2du3Qrc
s3C41k57WS6DZwihKcQJBwe2H/d2uNY67KeELf9IuFyEELpHnHB0uPV+2XrPb/t0uN6ZQlcsECsg
hKYSJ0jYNqCdjMP1oBsD7nvGjgNbhNBU4oQcZnXWLVUK3hRffbaw6nKJFRBCU4gTPlSUkONuR5tp
1sXhyjzkQKyAEJponKBN4kEYxF6uyMsbX0wMutaLIFZACE09TvgI/oDZTSpvfAGpF/EeyUWIFRBC
q4kT+nS454TDzQ2igS9C6F5xgmcMe7sSL3t4UV49bgPdtwRwme6LELpXnPBuONxB4oRbgJuKFSyH
m3K5CCE0dJxwy1X4XQfNQsuzh3xRMZcLfBFCfccJue7WG2e6q8ONQfegXO6b2Bg8QwiNGSfowbKY
GbSm8/ZqAvsYNLPOInpusgRuyuUG4IsQGuDq+zMRJ0gzOMhajOVAL0yWXLwZ0B3cuiOEVg3aHHfr
MamX9cuGAq58kSd1NvFiBVwuQmho8MayWy/qHHSxhL4Gzaw6N53jvorNykwYOEMI9cUjL05IGcDB
4oQhHK5XHvYmoNvmrAJ4EUJ9udsUi3rvDjYUcK1YQVp47XA9l8u6ZwihrvwJwV9CR2a3r8rlxvLb
XtXnoFlwbPyHOqu8KOh6I4MBl4sQ6uFKW7pbafrexowThnK4sWqFV+cFswwPQmhodyujhFfhbkeJ
E/oEbiqs1sB9caKFIy4XIXSj4TsHe0GEN2X23jLc7SSB67lcq1rhRWwSurG1zxBCKNfdWnW3r5E4
QUeag5WnDg3cU7DLw17C9QDaBy4XIdSTu9VlYDHgDj5YNgRwUw0jrFjhJVxnubhchFAf7laXgb04
7tYyebOIFIJ6A7yaXCtWeMPlIoRuvKru4m5HK0kdKlKIZblvyuE2Gy4XIdSFNd5AmcUaqzpqtDUW
y4HfEFwuQmhIWWVgGrbPBnBT7nYQzlQD5iqhpct9+u/2eNn2lzfu1/5tLieGQtwihHC3sUkOGrbP
6kraGywb1NCVI7wxXVyuV5dLjwWEgK3lbg8Rd/vsuNvD2HwZctCsS5abqsulxwJCSOa2sgzsw3C3
MeCOUgo2dKTQxeU+XyKFJxEtPPx32/1326pYodlq4gWEVuluYwNljWnTsH0JdqOawfomjB0p9OFy
R2kKjBCaFXRT7QOeHXcbKwUbRdWIb1LM5b4qpysHz6TL3Vx+j3S2uFyE1gPalLuVUcI/CXd7GtPd
jgHcWMWCPCvJKgUvVvAqFogWEFqPUmVgVpTgudvRV5ipRnyjYtN9Hy5vzKNwuQ8J4AJbhNYXI3it
Fy13+xzystsQFjZolutyH0ScIIGrB88YQENoPbANN0YJuu72bquEV3d486xOYr/elL0C7qPjci2n
C3QRWofDTUUJ/4j7r1Nyt2MCN+Vy35XL1dsuES0wAw2h5YLWar0oowQLtrmzyhbtcEOIZ7m7i9Pd
K+DuBXQrogWEVhclpKbv6jgh1TPhLqru8AY2908XYB4uAH2/ONidAO5ebBK4XqwAdBFaFnRzqxL+
CdcDZboj2OhlYFNxuHJJdelyKwHWvQKvFSsQLSC03CghVZWgYZtyt3cD7b2AWwsXqrPczWV/3pTT
xeUitN4oQee20tn+AuzPyzbJMrApONxgALdULrcygLsTt5VyutrdlkAXodnCVjem0bntswJuyt3e
rQxsKpFCod7cxuWWArhbBdldJFooFXALYIvQ7OMEvT6ZHCT7qdztPyFvCu/d3O29Ha68f7oAsnG5
GwHcneN2t+F6MkQpgCvvI4TmA9rUINk/Dmyt9oujdgObKnDbRAsWeCVwY2Vi5LkIzSdKiDW5smD7
t4DuS5hgGdiUgNsmWtDQtYDbbIWKFMhzEZo+bK3c1oPt3w5sUwtD3h281UTe7Fi0IF2uzHWb+xq4
pQIuTheheThbL7eNwfY5w93icFtECxvH6UrgemViVaA+F6GpQ9eDrVwRRkYIP50oYXJlYFMEbipa
kMCtDOjGgKujhQB4EZqcyfIGyXRFwt9ikwNlk+qXMBeH60ULErrS6epNQ5doAaF5RAmxQTIPtrEo
YVK57RSB60ULTRzQRAsbA7pVBnAZRENoWrBtM0j2V/AHylJLnk9K1cQ+iFi0oJ1ulQFcy+kCXYSm
BducQTIN29cwk9x26g43iA8lGNHCxgCvznE3DnAr4gWEJhEjxGaSSdj+FdK5rTV9F4fbAbq1ihZK
BV4PthZw5WtmEUqE7g/bQwS2fxmwnVUJ2FyAKz8k3VGsEMAtBWRTLlcPnMk8F+giNC5sTyHeI+Hv
SJQwmxKwOQE3J8/VEYO1WYNn+rUDXYTu42w/HNj+pRxu426bKGGWsJ2Dww0CuI1DPaiIoQtsC6CL
0F1ge8yIEWKwnUW97RyBq6Er81yZwVqOtwx+aRhOF6H7wrZpJG7B9k8B21RjmsnW284VuPID1PW5
hQNcfd8DbQC6CE3S2f4V/Nx2VoNkcwSul+cGB7hFwt2m3gugi9D4sP1TudtFDJLN2eEGAdxGB8Pt
Fh1gC3QRGhe2fxuw/TMsMLedI3A96MpBtBDSeW2b9wToIjQsbH8B9n8UbH8Gu9529rCdG3CtD1dG
C8EBbHHD+wJ0ERoHtl6UMKllztcGXGuZdQ3XIvJvoIvQNGHbtinNLKE7V4erB9H6dLdAF6H7Otv3
EJ+2i8O904cdBHRPBmiLHv6GbHhDlzGExokRJrsu2RqBa0H3NODvb2p6A9BFwPb/TE4dvk7XPdwA
W6vd4iwnNywVuENAt3bO4lv1XvXhoBGaM2xlIxqrNwKwXSBw+4auhKz1QW9UvBAAL1oRbOtgN6Jp
nG0zXbdZFgfYLhC4fUG3zti2l9uNiBcYTENrcLW1iBFOytlK2DbO9m9gu1zgdoVunYCt1UV+q34H
g2loLbA9t4Ttn8B2ucDtAl0PuGd1kJ0d+MrBNHJdtMTvkvwuyNV1rebhFmybWCG1HtniYbtE4LaB
bp0Arjybn51tG8h10TK/Q9Z3wVpdVzYPtxrRNM72ee2wXSpwuzpdfXDlANfKdYkY0FIiBJ3XWrDV
Cz7+pWCbWh5nNbBdMnBzoFsnzugSuCdxhreaaFREDGihEYIu+7LqbGWUIF2t1YhmtbBdOnBT0PXi
BO1ujxHgNs/bh6+5LhEDmqOrtSIEOXvs7QLb5/A1s9XrkP0UsH0NX6frrha2awBuDLp1ZpxwdDYJ
YJ3rEjGguUcIDWj1kjjPRowgb/8WQH4N9moNq4TtWoDrQbc2nmMNmEnIHhzgNttDRsSA20VTc7W1
42o/wteyLw+21nLmunn4QfyNVcJ2TcC1oHs2YGtluJa7Pajbk3LGu0jEwEQJNEVXexbHs3S1rwZs
LdDqvFYuZ77IRjQAtzt0vRrckwHegwFcK244X8DbuF3pdHG7aAqutjlOm2O2iRDew7+DY0088FM4
W8/VWoNjR2C7XuBq6OoP35v04MUKBwVgDdwm0z2rmEGuwYbbRWMd82cFWx0hyMkMuuzrp4JsM2tM
Rwjv6jtxBrbrBm6u083Jcw+G4z2o5+/F75Ful2wXje1qLRNxUBGCzGufBVx/qvjgHyNCsAbHzsZ+
rFbVyg/Gwjj7hxAvkTkZwP1Utzp6aErHpNvdCPgSM6Ch4wNrxlgzkUFWITQxgna2ErQyQmhc7aeC
rXa2Ye2wXTtwLeiGcD2KqmeXnYx4QQNX3z8qt3u6vPfVBbgyZgC8qE/Q6qy22RrQ6iqEFwFWC7TP
4boK4VNFCNaCjzUfD8C1DgTrQPHiBQ+4n+JAtMC7u2xn5XSl2y3FPgBelHsMn4Pdt1bOGLOqEF4E
VH8q0P5UoH01XK2X1wJbgJsF3nPELZyCXbkgD+YPBd1mewz/v173JJxuA95NuM53C8CLMo7Z2NR0
aQzew9dZY7Lk6x/D0TauVoL2PVxXIZDXAtybI4ZzRrygW9Zp8H6KS68P5XgfLk731+9olvHZBDvf
BbwoBto6cVzqci/pap8N2D4LV6tra3U/BPJagNt7xJCKF7TT/VA52YcC79Pleb+guw//DqpVCrw6
apACvIA2dTzqrFa62mflZH+Kx14SrpYIAeAOCt7YYFoMuO/O1vz/42U7hH+z3Z2Crhc1AN51HYup
E7/ugSCbzujGMxq2ckDsWfyM52qJEADuqBGD1cbOK7nxoPvtsjXgfbhsDXy3DniLQFXD2kBbh+tV
c08Z8YEeGLNgK5vNSFf7EXG1RAgAdxToerPTLLf7YbjdN7U1X4wn4XabmGEnwLsR8C2NqAHwLhu0
deIEL8cNtKt9MZyt/LfOaXOzWmALcEeJFxqXkQLuwcnRNHhfhdt9Um53L6ArM94y2Bmvbo4DfOd3
jNUh3VDp5IDWcrUWcF8UaK3ZYp6rJUIAuHePGKwG5seML0UD2+/i/pMBXp3vVo7j9XJe4DsPyIbg
N1HyxgqsY0qC1rptnvdmxAe4WoA7Wbeb23/B+oK8OuCV0H0S0M0BbzNrTVc2AN/pQzYFWmtATIP2
VYFVgvfVcbSyZ63VVN8atEMA967gPYf46LE1MeLN+LLIeEFGDE8qZrCihk24ni5s5bzAd1qQtXrT
WoOwGrTvBmi97TVcjxt8quhLrsaAqwW4k48YavWY/BJplxK7FNTAleB9zACvV8cLfKcJ2VjVwTF8
HXzVV0cvDmxfHdDqKeeyIVOs+gDYAtxJOt1Gsm73FHEsGryP4svypMD7lADvNnwtJ7PAC3ynBdlY
+08v+9eDYtb9twzQWvFBwNUC3Dm63VTMYH2pGuC+iRjhRblcGTF0cbxt4KubowPgOGBDB8h6MxUP
4esMRSvzl5C1QCtnOx4M0FrxAa4W4M7a7VoxQ2p2mnS6DVyflcvVbldXNFjg3SrwejW9peF6AXAa
sMEAmAdZ2VTGa35kudo3BdlXFRtI0FqO9hzS/Q8ALcBdDHibL2EZ7JVS5RduL75oEqzS5WroPl5+
Tk+e0FHD1gCvHGjzZrRpAC8xiqg7OtlagewU7MFTKzbQ/Te8eu1X5XTl8zRom79hTcel+gDgriZm
kE7odAFdcysH1XaXL9P+8uV6MOD6GHG6MmaQGa+Gb5WAr+V6vew31dWsmNBnk+NgPbgGIy7wIOtl
s4fgNzl6i2yyocx7B9CGcD1xAdgC3EW53bbg1WVAO+F49wK+HoQ1dGXUoAfYdNZbJVyvl/mmphhP
ocVk3cLJ5g58WRNeYtmsBKTOaXWM8G7cyrIu3e8gB7S4WoC7ypghBt7j5fNpbuVotQTng4LvgwFc
7XatnHcnooaY642BNxVBTCH/jVUSWBFBqowrNgCmVwOx+iN7jY3elIN9D9eN7Q/h6zRcQAtwUUfw
NhnvUTjejXCkMpvdKye7jwDXihp0zttsm0z4WgNuRcQFh0z4Fj29t7F4ICTgag18eZA9hevFRa18
9j3ibD+cqEBPvf1Uf/sMaAEu6ge8JwXexvFWyqHulfvdG5DVtynw6kG2WN67ceBbGrFDrP73Fgcc
y2YtsAYjh5VXG7Fc1hoEi4HWakb/brhXvTTTwchmj2q/AC3ARTeA93SBzlmA63S5fzTAu424352I
EWLAjbndbQK8VplZGeyBt1gE0TdwcyOC2BJKMdAeMl2tBVxv/TsN2KMRG+heB4AW4KKeLodrBd+z
cr360l/Dd6tg6oFW3+7C9ew1q3dDZTheC76p/PdW2MZy2joBVw3ZsxMZSMim1rL7iIBXPvcQ7NWd
9bTbkwHZOsTL1hDARRmwKIwvkpw8UYi4oXG9pQFgCcpdxAHvDIergWs5Xqu6IeZ6vR6+fUG3Trjb
swGvlJs9BrvP8cEBrgbvZyQmOBhO9mTEBVabxNp5zQjgoh7BG5y4oVBQqxSAt078sDUAa8UKO8Pl
avDGoJuaWhxuhK7n9GJTa2Ow1aDV7vYzEiccHLgeDMieHCdr5coB0AJcNH7UYMUNhYLvUYCtMtyv
B2Fvs0rHYsBNwfcewE1BNgXcYwS43hbLYo/qJFA7TpbYAOCiCbpeCd+TAO5RXdZvjChgK24tIFuA
tcrHUhFDbF22W5cGSk259WCrIwSr3MtzvBaQT+G6osAb9Dq3gCygBbhoYq7Xgq+uFtgYtx6IKwPK
McDGQOtNohgLuKcEdD3wWgC2BtQ0WE/G3z23dLJAFuCimcNXZr7WoJYFYg3lMtPJ5k6a6GvhS286
bgy6Oc73bMA0BVarfAvIAly0YvhatbIeiK373qDYJvGz3sSIvt4La2KDVaVwch47GffPkfsWWD3A
AlmAi1YKX+l4rSm6GsIWkNtuxZ2AG6vBzd3qiGv11gIDsgjgAt+r7l0egItMIHe57StKSEUL5xtv
U47V69MAZBHABb7J/481nrFyVw3QMgPWYSTghgxonp3nhUywtumxiwAuAr5JAKdui8Tjsc5hYwE3
BtCQeDwEvw627vgeI4CLVg7fIuS1OwwJcBaZt2O9vhx45jaAAbAI4KLR3G/Oz8Tg6z1v6NfRdmps
3eN7hAAuQjcBtb7h58dwuXUPzwGuCOCiSTvhNjCeglsHqgjgokXCeGwoA1MEcBFQ5i1Aa1HJW4AQ
QgAXIYQWpf8VYACGjUsJ5x9aAgAAAABJRU5ErkJggg==" transform="matrix(0.1235 0 0 0.1235 2.3642 2.7902)">
	</image>
	<g id="XMLID_2_" class="st1">
		<path id="XMLID_3_" class="st2" d="M23.4,3.7C12.6,3.7,4,12.4,4,23.1s8.7,19.4,19.4,19.4V10v32.5c10.7,0,19.4-8.7,19.4-19.4
			S34.1,3.7,23.4,3.7z"/>
	</g>
</g>
<path id="XMLID_112_" class="st3" d="M24.1,9.1c0.1,0.5,0.2,1,0.3,1.5c0.1,0.5,0.2,1,0.2,1.5c0.1,0.5,0.2,1,0.2,1.5
	c0.1,0.5,0.1,1,0.2,1.5l0.2,1.5l0.2,1.5l0.2,1.5c0.1,0.5,0.1,1,0.2,1.5l0.2,1.5l0.2,1.5c0,0.5,0.1,1,0.1,1.5l0.1,1.5
	c0,0.5,0.1,1,0.1,1.5l0.1,1.5c0,0.5,0.1,1,0.1,1.5l0.1,1.5l0.2,2.1l-1.9-0.9c-0.4-0.2-0.8-0.4-1.2-0.6l-1.2-0.6l-1.2-0.6l-1.2-0.6
	l-1.2-0.6c-0.4-0.2-0.8-0.4-1.2-0.6l-1.2-0.6c-0.4-0.2-0.8-0.4-1.2-0.6l-2.2-1.1l2.2-1l0.9-0.4c0.3-0.1,0.6-0.3,0.9-0.4
	c0.6-0.3,1.3-0.5,1.9-0.8l0.9-0.4c0.3-0.1,0.6-0.3,0.9-0.4l0.9-0.4c0.3-0.1,0.6-0.3,1-0.4l1-0.4l1-0.4c0.3-0.1,0.6-0.2,1-0.4
	c0.3-0.1,0.6-0.2,1-0.4l1-0.3c0.3-0.1,0.6-0.2,1-0.3c0.6-0.2,1.3-0.4,2-0.6c-0.6,0.4-1.1,0.8-1.7,1.1c-0.3,0.2-0.6,0.4-0.9,0.5
	l-0.9,0.5c-0.3,0.2-0.6,0.4-0.9,0.5c-0.3,0.2-0.6,0.3-0.9,0.5l-0.9,0.5l-0.9,0.5c-0.3,0.2-0.6,0.3-0.9,0.5l-0.9,0.5
	c-0.3,0.2-0.6,0.3-0.9,0.5l-0.9,0.5c-0.6,0.3-1.2,0.6-1.8,1c-0.3,0.2-0.6,0.3-0.9,0.5l-0.9,0.5l0-2.1c0.4,0.2,0.8,0.4,1.2,0.6
	l1.2,0.6c0.4,0.2,0.8,0.4,1.2,0.6l1.2,0.6l1.2,0.6l1.2,0.6l1.2,0.6c0.4,0.2,0.8,0.4,1.2,0.6l-1.8,1.2l-0.1-1.5c0-0.5,0-1-0.1-1.5
	l-0.1-1.5c0-0.5,0-1-0.1-1.5l-0.1-1.5c0-0.5,0-1,0-1.5l0-1.5l0-1.5c0-0.5,0-1,0-1.5l0-1.5l0-1.5l0-1.5c0-0.5,0-1,0-1.5
	c0-0.5,0-1,0-1.5c0-0.5,0-1,0-1.5C24.1,10.1,24.1,9.6,24.1,9.1z"/>
</svg>
</div>
<div id="new-logo">DROLLE</div>
</a>

    <div id="nav-icons-wrapper">
        <div id="menu-button-wrapper"><i class="material-icons" id="menu-button">menu</i></div>
        <div id="notification-icon"><i class="material-icons" id="notification-icon-bell">notifications_none</i><span id="notif-number"></span></div>
    <a href="/make"><i id="add-icon" class="material-icons">add</i></a>
    <a href="/user/<%= current_user.username %>"><p id="username"><%= current_user.username %></p></a>
    <% if controller.action_name != 'profile' %>
    <form id="demo-2">
	    <input id="search-icon" type="search" placeholder="Search">
    </form>
    <% end %>
    <a href="/user/<%= current_user.username %>">
        <% if current_user.image.url != "missing.jpg" %>
            <span id="profile-photo-small" style="background-image: url(<%= current_user.image.url(:medium) %>)"></span>
        <% else %>
            <span id="profile-photo-small" style="background-image: url('/assets/missing.jpg')"></span>
        <% end %>
    </a>
    </div>

    <%# link_to('Log Out', destroy_user_session_path, :method => :delete) %>
</nav>