<% if user_signed_in? %>

    <div id="box-6-wrapper" class="second mini">
        <p id="main-trends-title"><i class="material-icons">whatshot</i>Trends</p>
        <div id="search-trends"><i class="material-icons">search</i><textarea data-search placeholder="Search trends"></textarea></div>

            <div class="trend trend-parent waiter"><div class="waiter-title"></div><div class="waiter-details"></div><div class="waiter-images-wrapper"><div class="waiter-images"></div><div class="waiter-images"></div><div class="waiter-images"></div></div></div>
            <div class="trend trend-parent waiter"><div class="waiter-title"></div><div class="waiter-details"></div><div class="waiter-images-wrapper"><div class="waiter-images"></div><div class="waiter-images"></div><div class="waiter-images"></div></div></div>
            <div class="trend trend-parent waiter"><div class="waiter-title"></div><div class="waiter-details"></div><div class="waiter-images-wrapper"><div class="waiter-images"></div><div class="waiter-images"></div><div class="waiter-images"></div></div></div>
            <div class="trend trend-parent waiter"><div class="waiter-title"></div><div class="waiter-details"></div><div class="waiter-images-wrapper"><div class="waiter-images"></div><div class="waiter-images"></div><div class="waiter-images"></div></div></div>


        <%= form_tag url_for(:controller => 'pages', :action => 'renderTrends'), :method => 'get', class: "hidden-imp", remote: true do %>
      <%= text_field_tag 'name', '' %>
      <%= submit_tag "Save", id: "renderTrends-submit" %>
    <% end %>
    <div class="trend-holder"></div>
    <div class="more-trends">more<i class="material-icons">expand_more</i></div>
    </div>






    <% end %>