<div id="trends-wrapper-wrapper">
        <div id="trends-wrapper">
            <a data-name="Trends" href="/trends" ><p class="tags-title explore-title">Trends</p></a>
        <% if @trends.count >0 %>
    		
              <% @trends.each do |trend| %>
            <a data-name="<%= trend.name %>" href="trends/<%= trend.name %>" class="trends">/<%= trend.name %></a>
            <% end %>
        
        <% else %>
            <a data-name="random" href="trends/youtubeThumbnailsBeLike" class="trends">/youtubeThumbnailsBeLike</a>
            <a data-name="random" href="trends/theDab" class="trends">/theDab</a>
            <a data-name="random" href="trends/vineIsDead" class="trends">/vineIsDead</a>
            <a data-name="random" href="trends/familyGatherings" class="trends">/familyGatherings</a>
            <a data-name="random" href="trends/trumpetIsNowPresident" class="trends">/trumpetIsNowPresident</a>
        <% end %>
        <hr style="border: 1px solid #f9f9f9;">
        <div id="tags-wrapper-wrapper-wrapper">
        <div id="tags-wrapper-wrapper">
        <div id="tags-wrapper">
        <a href="/tags" data-name="Tags"><p class="tags-title-2 explore-title">Tags</p></a>
        <div class="tags-padder">
            <!--<div id="tags-wrapper-edge-1"></div>
            <div id="tags-wrapper-edge-2"></div>-->
            <span id="tags-button"><i class="material-icons">sort</i></span>
            <!--<a href="/recent"><div id="tag-all" class="tag active">All</div></a>-->
            <!--<a href="/tags/videos"><div class="tag">Videos</div></a>-->
            <a data-name="Memes" href="/tags/memes"><div class="tag">Memes</div></a>
            <a data-name="Food" href="/tags/food"><div class="tag">Food</div></a>
            <a data-name="Gaming" href="/tags/gaming"><div class="tag">gaming</div></a>
            <a data-name="Awesome" href="/tags/awesome"><div class="tag">awesome</div></a>
            <a data-name="Photoshopped" href="/tags/photoshopped"><div class="tag">photoshopped</div></a>
            <a data-name="Voiceover" href="/tags/vioceover"><div class="tag">voiceover</div></a>
            <a data-name="Reaction" href="/tags/reaction"><div class="tag">reaction</div></a>
            <a data-name="Opinion" href="/tags/opinion"><div class="tag">opinion</div></a>
            <a data-name="Wtf" href="/tags/wtf"><div class="tag">wtf</div></a>
            <a data-name="Sports" href="/tags/sports"><div class="tag">sports</div></a>
            <a data-name="Rage Comics" href="/tags/ragecomics"><div class="tag">rage comics</div></a>
            <a data-name="Happy" href="/tags/happy"><div class="tag">happy</div></a>
            <a data-name="Animated" href="/tags/animated"><div class="tag">animated</div></a>
            <a data-name="Movies" href="/tags/movies"><div class="tag">movies</div></a>
            <!--<a href="/tags/nsfw"><div class="tag">nsfw</div></a>-->
            <!--<a href="/tags/cute"><div class="tag">cute</div></a>-->
            <!--<a href="/tags/politics"><div class="tag">politics</div></a>-->
        </div>
        
    </div>
    </div>
    </div>
        
        </div>
        
    </div>