<div id="trends-wrapper-wrapper">
        <div id="trends-wrapper">
            <% if @trends != nil %>
    		<a href="/trends"><p class="tags-title">Trends</p></a>
              <% @trends.each do |trend| %>
            <a href="trends/<%= trend.name %>" class="trends">/<%= trend.name %></a>
        <% end %>
        <% end %>
        <hr style="border: 1px solid #f9f9f9;">
        <div id="tags-wrapper-wrapper-wrapper">
        <div id="tags-wrapper-wrapper">
        <div id="tags-wrapper">
        <a href="/tags"><p class="tags-title-2">Tags</p></a>
        <div class="tags-padder">
            <!--<div id="tags-wrapper-edge-1"></div>
            <div id="tags-wrapper-edge-2"></div>-->
            <span id="tags-button"><i class="material-icons">sort</i></span>
            <!--<a href="/recent"><div id="tag-all" class="tag active">All</div></a>-->
            <!--<a href="/tags/videos"><div class="tag">Videos</div></a>-->
            <a href="/tags/memes"><div class="tag">Memes</div></a>
            <a href="/tags/food"><div class="tag">Food</div></a>
            <a href="/tags/gaming"><div class="tag">gaming</div></a>
            <a href="/tags/awesome"><div class="tag">awesome</div></a>
            <a href="/tags/photoshopped"><div class="tag">photoshopped</div></a>
            <a href="/tags/vioceover"><div class="tag">voiceover</div></a>
            <a href="/tags/wtf"><div class="tag">reaction</div></a>
            <a href="/tags/opinion"><div class="tag">opinion</div></a>
            <a href="/tags/wtf"><div class="tag">wtf</div></a>
            <a href="/tags/sports"><div class="tag">sports</div></a>
            <a href="/tags/ragecomics"><div class="tag">rage comics</div></a>
            <a href="/tags/happy"><div class="tag">happy</div></a>
            <a href="/tags/animated"><div class="tag">animated</div></a>
            <a href="/tags/movies"><div class="tag">movies</div></a>
            <!--<a href="/tags/nsfw"><div class="tag">nsfw</div></a>-->
            <!--<a href="/tags/cute"><div class="tag">cute</div></a>-->
            <!--<a href="/tags/politics"><div class="tag">politics</div></a>-->
        </div>
        
    </div>
    </div>
    </div>
        
        </div>
        
    </div>